/*
 * nextflow.config — cluster defaults + paths
 */
params.projectDir = "${baseDir}"
params.scriptDir  = "${params.projectDir}/scripts"
params.outDir     = "${params.projectDir}/output_data"

process {
    executor = 'slurm'
    queue    = 'compute'
    cpus     = 4
    memory   = '16 GB'
    time     = '10h'
}
